<!DOCTYPE html>
<html>
<head>
    <title>Aurelia</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css">-->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>-->
    <!--<script type="text/javascript" src="/static/semantic/dist/semantic.min.js"></script>-->
</head>

<body aurelia-app="main">
<script src="/static/scripts/vendor-bundle.js" data-main="aurelia-bootstrapper"></script>
</body>
</html>
